.card {
  position: relative;
}




.card .frontCover {
  transform: rotateY(90deg);
  position: absolute;
  transition: all ease-in 0.2s;
}
.flipped .frontCover {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .backCover {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .backCover {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
